@use 'variables';

@mixin button{
    padding: 1.3rem 3rem;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 3.2px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFF;
    background-color: variables.$dorado;
    border: 0;
}    