h6 {
    font-family: 'Archivo';
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2.8px;
    color: #777777;
    margin-bottom: 1rem;
}

h3 {
    font-family: 'Old Standard TT';
    font-weight: 400;
    font-size: 40px;
    letter-spacing: -1.44px;
    color: #222222;
   
}

h2 {
    font-family: 'Old Standard TT';
    font-weight: 400;
    font-size: 56px;
    letter-spacing: -1.2px;
    color: #111111;
}
