@use '../button';
@use '../variables';

.date {
    padding: 3rem 1rem;
    background-color: #222222;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 7rem;

    label, input{
        display: block;
    }
    label{
        color: #FFFFFF;
        margin-bottom: .5rem;
        margin-top: 1rem   ;
    }

    input{
        border: 0;
        outline: none;
        border-bottom: 1px solid variables.$dorado;
        width: 100%;
        padding-bottom: .5rem;
        color: #686868;
        background-color: transparent;
        padding-left: 1.5rem;
    }

    button{
        @include button.button;
        margin-top: 2rem;
        padding: 1.3rem 2rem;
    }

    input::-webkit-calendar-picker-indicator {
        filter: invert(0.5) sepia(1);
        position: absolute;
        left: 1rem;
    }
      
}