@use '../button';

.infoContact {
    padding-left: 2rem;
    margin-top: 3rem;

    &__contact {
        margin-bottom: 6rem;
        display: flex;
        align-items: start;
        gap: 1rem;
        color: #777777;
        font-family: 'Roboto';
        font-size: 14px;
        font-weight: 400;

        p:first-of-type {
            font-size: 20px;
            color: #222222;
            font-family: 'Old Standard TT';
        }
    }



}

.hotelImg {
    width: 90%;
    height: 15rem;
    // background-image: url(../../img/hotel/hotel.jpg);
    // background-repeat: no-repeat;
    // background-size: contain;
    background-color: #E5E5E5;
    margin: 0 auto;
    margin-bottom: 3rem;
}


